* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content {
   position: absolute;
   width: 50%;
   height: 100%;
   background-color: #f0f0f0;
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
.header-container{
    width: 100%;
    height: 15%;
    background-color: #f0f0f0;
    border: 1px solid #000;
    align-self: flex-start;
    display: flex;
    
    
}
.header-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: flex-start;
}